.panel{
    background-color: whitesmoke; 
    border: solid 10px; 
    align-content: center; 
    margin-top: 6%;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;
    margin-left: 21%;
    margin-right: 25%;
    height: 400px;
    width: 800px;
}

:hover.btn {
    background-color: paleturquoise;
    -ms-zoom-animation: 10px;
}

.btn{
    background-color: burlywood;
    background-size: auto;
    margin-left: 10%;
    margin-top: 3%;
    width: 300px;
    margin-bottom: 7%;
    padding: 8px;
    border-radius: 20px;

    
}
.background{
    background-image: rgb(0, 215, 143);
}


