.panel{
    background-color: rgb(180, 98, 27);
    margin-top: 6%;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 30px;
    margin-left: 21%;
    margin-right: 25%;
    height: 400px;
    width: 800px;
}


.btn{
    background-color: rgb(163, 98, 13);
    background-size: auto;
    margin-left: 10%;
    margin-top: 3%;
    width: 300px;
    margin-bottom: 7%;

    
}
.background{
    background-color: rgb(0, 215, 143);
}


