.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFA500;

}
*{
    padding: 0;
    margin: 0;
}

#logo{
    height: 120px;
    width: 170px;
    margin: 15px;
}
#guru{
    height: 150px;
    width: 120px;
    border-radius: 50%;
    margin: 15px;

}

.text{
    display: flex;
    align-items: center;
    flex-direction: column;

}
#header{
    color: #D00;
    font-family: 'Inknut Antiqua';
    
}
#text1{
    color: #151EED;
    font-family: 'Inknut Antiqua';
    font-size: 24px;
}
#text2{
    color: #B30000;
    font-family: 'Imperial Script',cursive;
    font-size: 52px;
}
.container2{
    background-image: url("../images/th.jpeg");
   height: 78vh;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.lib{
    background-color: rgb(255, 255, 255,0.7);
    display: flex;
   
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 650px;
    border-radius: 20px;
    
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
}

#heading{
    margin: 25px;
}
.labels{
    margin: 25px;
}
#password{
    margin-left: 7px;
}
label{
    font-size: 24px;
}
input{
    font-size: 24px;
}
#login{
    width: 150px;
    height: 34px;
    font-size: 24px;
}