#Submit{
    width: 150px;
    height: 60px;
}
.panel{
    background-color: rgba(122, 23, 23, 0.7);
    display: flex;
    margin-left: 27%;
    margin-top: 5%;
    
   
    align-items: center;
    flex-direction: column;
    height: 350px;
    width: 650px;
    border-radius: 20px;


}
.container{
    background-color: chocolate;
    
    
}